<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<div 


<center>
<% @photos.each do |photo| %>
  <div class="jumbotron" style="max-width: 500px">
    <div class="container">
      <%= image_tag photo.image(:large), class: 'img-responsive' %>
    </div>
  </div>
<% end %>
</center>